<footer class="site-footer">
  <small>
    This project is maintained by Tania Ciu</a>.
    Check out the <a href="https://github.com/taniaciu-code/tania.github.io">GitHub repo</a>.
  </small>
</footer>
