---
layout: layouts/base.njk
section: projects
---
<div class="page-container">
  <h1>{{title}}</h1>
  <p>
      <small>
        <time datetime="{{ date | machineDate }}">{{ date | readableDate }}</time>
      </small>
    </p>
  {% if subtitle %}
    <p>{{ subtitle }}</p>
  {% endif %}
  <hr>
  {{ layoutContent | safe }}

  {% set projectlist = collections.project %}
  {% include "components/projectlist.njk" %}
</div>
